mat-card{
  width: 85%;
  height: 70%;
}

mat-card:hover{
  background-color: #f0fffe;
}

.mt-1{
  margin-top: 1px;
}

.mt-5{
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.mat-card-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-color: #ebebeb;
}

.nome-pokemon{
  text-transform: uppercase;  
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

.mat-raised-button {
  line-height: 30px;
  padding: 0px 10px;
}

.alinhar-vertical{
    margin-bottom: auto !important;
    margin-top: auto !important;
    width: 100% !important;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-primary {
  color: #fff;
  background-color: #2892fd;
}