mat-card{
  width: 85%;
}

.mt-1{
  margin-top: 1px;
}

.mt-5{
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.mat-card-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-color: #ebebeb;
}

.nome-pokemon{
  text-transform: uppercase;  
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}